{{- $color := .color | default "blue" -}}
{{- $hoverColor := .hover_color | default "blue" -}}

{{- /* Smart intensity defaults based on color combinations */ -}}
{{- $intensity := "" -}}
{{- $hoverIntensity := "" -}}

{{- if eq $color "red" -}}
  {{- $intensity = "600" -}}
  {{- if eq $hoverColor "green" -}}{{- $hoverIntensity = "700" -}}{{- end -}}
{{- else if eq $color "green" -}}
  {{- $intensity = "700" -}}
  {{- if eq $hoverColor "blue" -}}{{- $hoverIntensity = "700" -}}
  {{- else if eq $hoverColor "blue" -}}{{- $hoverIntensity = "700" -}}{{- end -}}
{{- else if eq $color "blue" -}}
  {{- $intensity = "600" -}}
  {{- if eq $hoverColor "green" -}}{{- $hoverIntensity = "700" -}}
  {{- else if eq $hoverColor "blue" -}}{{- $hoverIntensity = "700" -}}
  {{- else if eq $hoverColor "blue" -}}{{- $hoverIntensity = "700" -}}{{- end -}}
{{- else if eq $color "yellow" -}}
  {{- $intensity = "300" -}}
  {{- if eq $hoverColor "green" -}}{{- $hoverIntensity = "700" -}}{{- end -}}
{{- else -}}
  {{- /* Fallback defaults */ -}}
  {{- $intensity = "600" -}}
  {{- $hoverIntensity = "700" -}}
{{- end -}}

{{- /* Allow manual override if specified */ -}}
{{- $intensity = .intensity | default $intensity -}}
{{- $hoverIntensity = .hoverIntensity | default $hoverIntensity -}}
{{- /* Ensure hoverIntensity has a value - default to darker shade if empty */ -}}
{{- if not $hoverIntensity -}}{{- $hoverIntensity = "700" -}}{{- end -}}

{{- printf "bg-%s-%s hover:bg-%s-%s border-%s-%s hover:border-%s-%s"
    $color $intensity
    $hoverColor $hoverIntensity
    $color $intensity
    $hoverColor $hoverIntensity -}}
