<footer class="footer bg-dark-footer relative">
    <div class="container relative">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
                <div class="py-[60px] px-0">
                    <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                        
                        <!-- Column 1: About & Copyright -->
                        <div class="lg:col-span-4 md:col-span-12">
                            <h2 class="tracking-[1px] text-white text-xl font-bold">Northskill Mechanix Inc.</h2>
                            <p class="mt-6 text-slate-300">Automotive repair, towing, and roadside assistance for Galiano Island, BC.</p>
                            <div class="mt-6 text-slate-400">
                                &copy; {{ now.Format "2006" }} Northskill Mechanix Inc. All rights reserved.
                            </div>
                        </div>

                        <!-- Column 2: Quick Links -->
                        <div class="lg:col-span-2 md:col-span-4">
                            <h2 class="tracking-[1px] text-white font-semibold">Quick Links</h2>
                            <ul class="list-none footer-list mt-6">
                                <li><a href="/" class="text-slate-300 hover:text-blue-500 duration-500 ease-in-out"><i class="uil uil-angle-right-b"></i> Home</a></li>
                                <li class="mt-[10px]"><a href="/#map-section" class="text-slate-300 hover:text-blue-500 duration-500 ease-in-out"><i class="uil uil-angle-right-b"></i> Location & Hours</a></li>
                                <li class="mt-[10px]"><a href="/jobs/" class="text-slate-300 hover:text-blue-500 duration-500 ease-in-out"><i class="uil uil-angle-right-b"></i> Opportunities</a></li>
                            </ul>
                        </div>

                        <!-- Column 3: Contact Info -->
                        <div class="lg:col-span-3 md:col-span-4">
                            <h2 class="tracking-[1px] text-white font-semibold">Contact Us</h2>
                            <ul class="list-none footer-list mt-6 text-slate-300">
                                <li class="flex items-start">
                                    <i class="uil uil-map-marker text-blue-500 text-xl mr-2"></i> 
                                    <span>50 Heryet Lane<br>Galiano Island, BC V0N 1P0</span>
                                </li>
                                <li class="mt-[10px] flex items-center">
                                    <i class="uil uil-envelope text-blue-500 text-xl mr-2"></i> 
                                    <a href="mailto:ezri@northskill.com" class="hover:text-blue-500 duration-500">ezri@northskill.com</a>
                                </li>
                            </ul>
                        </div>

                       

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>